.vscode/
.idea/

**/.DS_Store

node_modules/

.git/
.gitignore
.dockerignore

.husky/

.env*

Procfile

**/*.md

# The database is decompressed at startup. Ignore any databases that have
# already been extracted.
database/*.db

# Some OS (e.g. MacOS) prevent the copying of executables. We provide an archive to be
# extracted at startup (`cruncher.gz`) in order to prevent this problem.
morpheus/cruncher