.vscode/
.idea/

**/.DS_Store

node_modules/

.git/
.gitignore
.dockerignore

.husky/

.env*

**/*.md

# Some OS prevent the copying of executables. We provide an archive to be
# extracted (`cruncher.gz`) in order to prevent this problem.
morpheus/cruncher